<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='UTF-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
    <title>Limpiar Numero</title>
</head>
<body>

    <form action='/limpiar' method='POST'>
        <input type='text' name='celular' placeholder='Ingrese su celular' required><br><br>
        <input type='submit' value='Enviar'><br>
        <input type='reset' value='Limpiar'>
    </form>

    {% if numero %}

    <h2>El numero {{ numero }} {{ mensaje }}</h2> 

    {% endif %}

</body>
</html>
